/* ----------------Colores---------------------- */
$color1: #010A26;
$color2: #023E73;
$color3: #eeaccb;
$color4: black;
$color5: white;

/* ----------------Colores----------------------- */

/* ----------------FUENTES----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Castoro+Titling&family=Pacifico&family=Raleway:wght@100&family=Sacramento&family=Six+Caps&family=Staatliches&display=swap');

/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Castoro Titling', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Staatliches', cursive;*/
/* ----------------FUENTES----------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color2;
}

h2 {
    font-family: 'Castoro Titling', cursive;
    font-size: 30px;
    margin: 20px;
    text-shadow: 2px 3px $color1;
}

h3 {
    font-family: 'Castoro Titling', cursive;
    font-size: 40px;
    margin: 20px;
}

h4 {
    font-family: 'Castoro Titling', cursive;
    margin-top: 10px;
    margin-bottom: 0px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

a {
    font-family: 'Castoro Titling', cursive;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: $color3;
    border-radius: 3px;
}

/* --------------BARRA DE NAVEGACION----------- */
header {
    position: sticky;
    top: 0px;
    z-index: 5;

    nav {
        background-color: $color1;
        border-radius: 5px;

        .navbar-brand {
            font-family: 'Staatliches', cursive;
            font-size: 30px;
        }

        .navbar-brand:hover {
            text-shadow: 0 0 5px $color5;
        }

        .navbar-toggler {
            border: none;
            font-size: 30px;
        }

        .nav-link {
            color: $color5 !important;
        }

    }
}





/* ---------------------------------------- */

/* -----------IMAGEN LOGO---------- */
.logo img {
    width: 100%;
}

/* -------------------------------- */

/* ---------------------PRESENTACION--------------- */
.presentacion-h2 {
    text-align: center;
    color: $color5;
}

.presentacion {
    color: $color5;
    margin: 0 20px;

    .presentacion-derecha {
        // height: 900px;
        margin: 10px;
        background-color: $color5;
        box-shadow: 8px 8px $color1;
        // max-height: 370px;
        overflow: scroll;

        p {
            color: $color1;
            text-align: center;
            font-weight: bold;
        }
    }

    .presentacion-derecha::-webkit-scrollbar {
        width: 7px;
    }

    .presentacion-derecha::-webkit-scrollbar-thumb {
        background-color: $color3;
        border-radius: 3px;
    }


    .presentacion-izquierda {
        // width: 50%;
        height: 370px;
        background-image: url(../img/WhatsApp\ Image\ 2023-03-23\ at\ 13..webp);
        background-position: center;
        background-position-y: 35%;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 8px 8px $color1;
    }
}



/* ------------------------------------------------ */

/* --------------------GALERIA--------------------- */
.galeria {
    background-color: $color3;
    color: $color5;
    text-align: center;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 8px 8px $color1;

    .carousel {
        bottom: 20px;
        box-shadow: 8px 8px #3b1c2d;
    }

    h2 {
        color: $color1;
        font-weight: bold;
        padding-top: 20px;
        text-shadow: 1px 2px $color5;
    }

    #carouselExampleControls {
        height: 80%;
        width: 50%;
        margin: auto;
    }
}


/* ------------------------------------------------ */

/* ------------------RESEÑAS------------------------ */
.reseña-h3 {
    text-align: center;
    color: $color5;
    padding-top: 20px;
}

.reseñas {
    display: flex;
    width: 100%;
    justify-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    .card {
        height: auto;
        // max-width: 200px;
        padding: 10px;
        align-items: center;
        text-align: center;
        margin: 10px 0;
        box-shadow: 8px 8px $color1;

        .card-img-top {
            border-radius: 5px;
            width: 100px;
            justify-items: center;
        }

        .card-title {
            font-size: 20px;
            font-family: 'Castoro Titling', cursive;
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
}


/* ---------------------------------------------- */

/* ---------------PIE DE PAGINA------------------- */
.pie-pagina {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: $color1;
    width: 100%;
    color: $color5;
    justify-content: center;
    align-content: center;

    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        padding: 20px 0px 0px;
        justify-items: center;

        .box {
            h4 {
                font-size: 25px;
            }

            p {
                margin-bottom: 30px;
            }

            a,
            img {
                display: inline-block;
                text-decoration: none;
                width: 40px;
                height: 40px;
                margin-right: 5px;
                margin-bottom: 15px;
                text-align: center;
                font-size: 25px;
            }

            .mapa {
                align-items: center;
                width: auto;
                height: 100PX;
            }
        }
    }

    .grupo-2 {
        display: flex;
        justify-content: space-around;
    }
}

/* --------------------------------------------- */


/* -------MEDIA-------------- */

@media only screen and (min-width:480px) {
    .presentacion {
        display: flex;
        padding-bottom: 20px;

        p {
            max-height: 100px;
        }
    }

    .presentacion-izquierda {
        width: 50%;
    }

    .presentacion-derecha {
        width: 50%;
        max-height: 370px;
        // height: 900px;
    }
}

@media only screen and (min-width:480px) and (max-width:1180px) {
    .presentacion-derecha {
        overflow: scroll;
    }
}

@media only screen and (min-width:700px) {
    .reseñas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        justify-items: center;

        .card {
            max-width: 200px;
        }
    }
}