/* ----------------Colores---------------------- */
/* ----------------Colores----------------------- */
/* ----------------FUENTES----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Castoro+Titling&family=Pacifico&family=Raleway:wght@100&family=Sacramento&family=Six+Caps&family=Staatliches&display=swap");
/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Castoro Titling', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Staatliches', cursive;*/
/* ----------------FUENTES----------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #023E73;
}

h2 {
  font-family: "Castoro Titling", cursive;
  font-size: 30px;
  margin: 20px;
}

h3 {
  font-family: "Castoro Titling", cursive;
  font-size: 40px;
  margin: 20px;
}

h4 {
  font-family: "Castoro Titling", cursive;
  margin-top: 10px;
  margin-bottom: 0px;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

a {
  font-family: "Castoro Titling", cursive;
}

hr {
  justify-items: center;
  height: 2px !important;
  width: 90%;
  background-color: #F291C7;
  border-color: #F291C7;
  margin: 20px auto;
  opacity: 1;
}

/* --------------BARRA DE NAVEGACION----------- */
header {
  position: sticky;
  top: 0px;
}

nav {
  background-color: #010A26;
  border-radius: 5px;
}
nav .navbar-brand {
  font-family: "Staatliches", cursive;
  font-size: 30px;
}
nav .navbar-brand:hover {
  text-shadow: 0 0 5px white;
}
nav .navbar-toggler {
  border: none;
  font-size: 30px;
}
nav .nav-link {
  color: white !important;
}

/* ---------------------------------------- */
.h3-titulo {
  color: white;
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 3px #010A26;
}

.servicio {
  background-color: white;
  width: 95%;
  margin: auto;
  padding: 20px;
  box-shadow: 8px 8px #010A26;
}
.servicio article {
  display: flex;
  width: 95%;
  margin: auto;
}
.servicio article .serv {
  font-size: 30px;
  color: #010A26;
  font-family: "Staatliches", cursive;
  position: relative;
  left: 15px;
  margin: 0 auto;
}
.servicio article .linea {
  width: 70%;
  background-color: #010A26;
  border: 1px #010A26;
  height: 2px !important;
}
.servicio article .precio {
  font-size: 30px;
  color: #010A26;
  font-family: "Staatliches", cursive;
  margin: 0 auto;
  text-align: center;
}
.servicio .descrp {
  color: #010A26;
  margin-left: 60px;
  font-weight: bold;
  position: relative;
  left: 14px;
}

/* ---------------PIE DE PAGINA------------------- */
.pie-pagina {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  background-color: #010A26;
  width: 100%;
  color: white;
  justify-content: center;
  align-content: center;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  padding: 20px 0px 0px;
  justify-items: center;
}
.pie-pagina .grupo-1 .box h4 {
  font-size: 25px;
}
.pie-pagina .grupo-1 .box p {
  margin-bottom: 30px;
}
.pie-pagina .grupo-1 .box a,
.pie-pagina .grupo-1 .box img {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
}
.pie-pagina .grupo-1 .box .mapa {
  align-items: center;
  width: auto;
  height: 100PX;
}
.pie-pagina .grupo-2 {
  display: flex;
  justify-content: space-around;
}

/* --------------------------------------------- */
/* -------MEDIA-------------- */
@media only screen and (min-width: 800px) {
  .contactano {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
  }
  .contactano .mensaje {
    width: 40%;
  }
}/*# sourceMappingURL=styleservicio.css.map */