/* ----------------Colores---------------------- */
/* ----------------Colores----------------------- */
/* ----------------FUENTES----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Castoro+Titling&family=Pacifico&family=Raleway:wght@100&family=Sacramento&family=Six+Caps&family=Staatliches&display=swap");
/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Castoro Titling', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Staatliches', cursive;*/
/* ----------------FUENTES----------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #023E73;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Castoro Titling", cursive;
  font-size: 45px;
  margin: 20px;
  text-shadow: 2px 3px #010A26;
}

h3 {
  font-family: "Castoro Titling", cursive;
  font-size: 40px;
  margin: 20px;
}

h4 {
  font-family: "Castoro Titling", cursive;
  margin-top: 10px;
  margin-bottom: 0px;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

hr {
  justify-items: center;
  height: 2px !important;
  width: 90%;
  background-color: #F291C7;
  border-color: #F291C7;
  margin: 20px auto;
  opacity: 1;
}

a {
  font-family: "Castoro Titling", cursive;
}

/* --------------BARRA DE NAVEGACION----------- */
header {
  position: sticky;
  top: 0px;
  z-index: 5;
}

nav {
  background-color: #010A26;
  border-radius: 5px;
}
nav .navbar-brand {
  font-family: "Staatliches", cursive;
  font-size: 30px;
}
nav .navbar-brand:hover {
  text-shadow: 0 0 5px #ffffff;
}
nav .navbar-toggler {
  border: none;
  font-size: 30px;
}
nav .nav-link {
  color: white !important;
}

/* --------------------GALERIA--------------------- */
.galeria {
  background-color: #023E73;
  height: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 300px);
  grid-gap: 10px;
  padding-bottom: 20px;
}
.galeria .img {
  background-color: white;
  box-shadow: 8px 8px #010A26;
  background-position: center;
  background-size: cover;
  padding: 30px;
  transition: all 0.5s;
}
.galeria .img:hover {
  transform: translate(8px, 8px);
  box-shadow: none;
  transition: all 0, 1s;
  box-shadow: 0 0 5px #010A26;
}
.galeria .img1 {
  background-image: url(../img/img-galeria/img-0952.webp);
}
.galeria .img2 {
  background-image: url(../img/img-galeria/img-0981.webp);
}
.galeria .img3 {
  background-image: url(../img/img-galeria/img-1334.webp);
}
.galeria .img4 {
  background-image: url(../img/img-galeria/img-1446.webp);
}
.galeria .img5 {
  background-image: url(../img/img-galeria/img-1442.webp);
}
.galeria .img6 {
  background-image: url(../img/img-galeria/img-1498.webp);
}
.galeria .img7 {
  background-image: url(../img/img-galeria/img-1465.webp);
}
.galeria .img8 {
  background-image: url(../img/img-galeria/img-1480.webp);
}

/* --------------------GALERIA--------------------- */
/* ---------------PIE DE PAGINA------------------- */
.pie-pagina {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  background-color: #010A26;
  width: 100%;
  color: white;
  justify-content: center;
  align-content: center;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  padding: 20px 0px 0px;
  justify-items: center;
}
.pie-pagina .grupo-1 .box h4 {
  font-size: 25px;
}
.pie-pagina .grupo-1 .box p {
  margin-bottom: 30px;
}
.pie-pagina .grupo-1 .box a, .pie-pagina .grupo-1 .box img {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
}
.pie-pagina .grupo-1 .box .mapa {
  align-items: center;
  width: auto;
  height: 100PX;
}
.pie-pagina .grupo-2 {
  display: flex;
  justify-content: space-around;
}

/* --------------------------------------------- */
/* -------MEDIA-------------- */
@media only screen and (min-width: 480px) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    padding: 20px;
    grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
    grid-gap: 10px;
  }
  .galeria .img1 {
    grid-area: img1;
  }
  .galeria .img2 {
    grid-area: img2;
  }
  .galeria .img3 {
    grid-area: img3;
  }
  .galeria .img4 {
    grid-area: img4;
  }
  .galeria .img5 {
    grid-area: img5;
  }
  .galeria .img6 {
    grid-area: img6;
  }
  .galeria .img7 {
    grid-area: img7;
  }
  .galeria .img8 {
    grid-area: img8;
  }
}/*# sourceMappingURL=stylegaleria.css.map */