/* ----------------Colores---------------------- */
$color1: #010A26;
$color2: #023E73;
$color3: #F291C7;
$color4: black;
$color5: white;

/* ----------------Colores----------------------- */
/* ----------------FUENTES----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Castoro+Titling&family=Pacifico&family=Raleway:wght@100&family=Sacramento&family=Six+Caps&family=Staatliches&display=swap');

/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Castoro Titling', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Staatliches', cursive;*/
/* ----------------FUENTES----------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $color2;
}

h2{
    text-align: center;
    color: $color5;
    font-family: 'Castoro Titling', cursive;
    font-size: 45px;
    margin: 20px;
    text-shadow: 2px 3px $color1;
}
h3{
    font-family: 'Castoro Titling', cursive;
    font-size: 40px;
    margin: 20px;
}
h4{
    font-family: 'Castoro Titling', cursive;
    margin-top: 10px;
    margin-bottom: 0px;
}
p{
    font-family:'Raleway', sans-serif;
    font-size: 20px;
}
hr {
    justify-items: center;
    height: 2px !important;
    width: 90%;
    background-color: $color3;
    border-color: $color3;
    margin: 20px auto;
    opacity: 1;
}
a{
    font-family: 'Castoro Titling', cursive;
}

/* --------------BARRA DE NAVEGACION----------- */
header{
    position: sticky;
    top: 0px;
}

nav{
    background-color: $color1;
    border-radius: 5px;
    
    .navbar-brand{
        font-family: 'Staatliches', cursive;
        font-size: 30px;
    }

    .navbar-brand:hover{
        text-shadow: 0 0 5px #ffffff;
    }

    .navbar-toggler {
        border: none;
        font-size: 30px;
    }
    .nav-link{
        color: $color5 !important;
    }
    
}


/* --------------------GALERIA--------------------- */
.galeria {
    background-color: $color2;
    height: auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 300px);
    grid-gap: 10px;
    padding-bottom: 20px;

    .img{
        border-radius: 5px;
        background-position:center;
        background-size: cover;
        padding: 30px;
        transition: all 0.5s;
    }

    .img:hover{
        transform: scale(0.90);
        transition: all 0.5s;
        box-shadow: 0 0 5px $color1;
    }
    
    .img1{
        background-image: url(../img/img-galeria/img-0952.webp);
    }
    .img2{
        background-image: url(../img/img-galeria/img-0981.webp);
    }
    
    .img3{
        background-image: url(../img/img-galeria/img-1334.webp);
    }
    .img4{
        background-image: url(../img/img-galeria/img-1446.webp);
    }
    .img5{
        background-image: url(../img/img-galeria/img-1442.webp);
    }
    .img6{
        background-image: url(../img/img-galeria/img-1498.webp);
    }
    .img7{
        background-image: url(../img/img-galeria/img-1465.webp);
    }
    .img8{
        background-image: url(../img/img-galeria/img-1480.webp);
    }
}
/* --------------------GALERIA--------------------- */
/* ---------------PIE DE PAGINA------------------- */
.pie-pagina{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: $color1;
    width: 100%;
    color: $color5;
    justify-content: center;
    align-content: center;

    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        padding: 20px 0px 0px;
        justify-items: center;

        .box{
            h4{
                font-size: 25px;
            }
            p{
                margin-bottom: 30px;
            }
            a, img {
                display: inline-block;
                text-decoration: none;
                width: 40px;
                height: 40px;
                margin-right: 5px;
                margin-bottom: 15px;
                text-align: center;
                font-size: 25px;
            }
            .mapa {
                align-items: center;
                width: auto;
                height: 100PX;
            }
        }
    }
    .grupo-2 {
        display: flex;
        justify-content: space-around;
    }
}

/* --------------------------------------------- */

/* -------MEDIA-------------- */
@media only screen and (min-width:480px){
    .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 200px);
        padding: 20px;
        grid-template-areas: 
            "img1 img2 img3 img3"
            "img1 img4 img5 img6"
            "img7 img4 img8 img8";
            grid-gap: 10px;

            .img1{
                grid-area: img1 ;
            }
            .img2{
                grid-area: img2 ;
            }
            
            .img3{
                grid-area: img3 ;
            }
            .img4{
                grid-area: img4 ;
            }
            .img5{
                grid-area: img5 ;
            }
            .img6{
                grid-area: img6 ;
            }
            .img7{
                grid-area: img7 ;
            }
            .img8{
                grid-area: img8 ;
            }
    }
}